{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <nav class="navbar container">
            <a href="#" class="logo">
                TANGKAMPUANG
        </a>
        <input type="checkbox" id="toggler" />
        <label for="toggler">
            <i class="ri-menu-line"></i>
        </label>
        <dif class="menu">
            <ul class="list">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                <a href="#">Pricing</a>
                </li>
                <li>
                <a href="#">About</a>
                </li>
            </ul>
        </div>
</nav>;

